*
!Dockerfile
!docker/
!docker/**
!SPT_Runtime/
!SPT_Runtime/**
SPT_Runtime/user/
SPT_Runtime/logs/
SPT_Runtime/SPT_Data/dotnet/
SPT_Runtime/SPT_Data/Launcher/
SPT_Runtime/SPT.Launcher*
SPT_Runtime/*.exe
