SPT/SPT_Data/database/locations/interchange/looseLoot.json filter=lfs diff=lfs merge=lfs -text
SPT/SPT_Data/database/locations/tarkovstreets/looseLoot.json filter=lfs diff=lfs merge=lfs -text
SPT/SPT_Data/database/locations/lighthouse/looseLoot.json filter=lfs diff=lfs merge=lfs -text
SPT/SPT_Data/database/locations/rezervbase/looseLoot.json filter=lfs diff=lfs merge=lfs -text
SPT/SPT_Data/wwwroot/SPTarkov.Server.Web/thank-you/background.mp4 filter=lfs diff=lfs merge=lfs -text
